<footer>
  <article>
    <h2>Redes Sociales</h2>
    <ul>
      <li><picture><img src="/images/facebook.png" alt="" /></picture></li>
      <li><picture><img src="/images/instagram.png" alt="" /></picture></li>
      <li><picture><img src="/images/twitter.png" alt="" /></picture></li>
    </ul>
  </article>
  <article>
    <h2>Sobre este proyecto: </h2>
    <ul class="aboutProyect">
        <li>Ejercicio desarrollado para el curso de Desarrollo Web Backend de la Universidad Distrital Francisco José de Caldas.</li>
        <li>Developed By Cris_Ca_Beri</li>
        <picture><img src="/images/mark.png" alt="Logo dev"></picture>
    </ul>    
  </article>
</footer>