<section class="navigationDashboard">
  <h1>Bienvenido</h1>
  <h3>Dashboard de administración</h3>
  <ul>
    <li>
      <article class="cardsNavigation">
        <h2>Pacientes</h2>
        <picture><img src="/images/paciente.png" alt="" /></picture>
        <p>Registra los datos básicos de los pacientes, como nombre, fecha de nacimiento y datos de contacto, para llevar un seguimiento efectivo de su información médica y personal.</p>
        <a href="/patients">Ver Pacientes</a>
      </article>
    </li>
    <li>
      <article class="cardsNavigation">
        <h2>Doctores</h2>
        <picture><img src="/images/doctor.png" alt="" /></picture>
        <p>Registra información detallada de los médicos, como nombre, especialidad y datos de contacto, para mantener un seguimiento efectivo de los profesionales de la salud que forman parte del equipo médico.</p>
        <a href="/doctors">Ver Doctores</a>
      </article>
    </li>
    <li>
      <article class="cardsNavigation">
        <h2>Citas</h2>
        <picture><img src="/images/cita.png" alt="" /></picture>
        <p>Consulta la disponibilidad de citas con los médicos, elige el horario más conveniente para ti y recibe confirmaciones automáticas. Además, puedes administrar tus citas existentes y realizar cambios según sea necesario.</p>
        <a href="/appointment">Ver Citas</a>
      </article>
    </li>
  </ul>
</section>