@import url("/stylessheets/style.css");
footer {
  background-color: #808080;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}
footer img {
  width: 2rem;
}
footer ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
}
footer article {
  color: white;
  width: 30%;
}
.aboutProyect {
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 1rem;
  font-style: italic;
}
.aboutProyect img {
  width: 5rem;
}